body{
    background-image: url(../assets/WIN_20190709_17_42_39_Pro.png);
    background-repeat: repeat;
    text-decoration:none;
}

.post_main{
    opacity: 1;
    display: block;
    width: 70%;
    left: 15%;
    background-color: rgba(255, 255, 255, 0.7);
}

.tin_button{
    border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: medium;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
display: inline-block;
outline: 0;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0px;
padding: 8px 18px;
    padding-top: 8px;
    padding-right: 18px;
    padding-bottom: 8px;
    padding-left: 18px;
margin-top: 15px;
margin-bottom: 10px;
vertical-align: middle;
overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
color:
#fff;
background-color:
#e9686b;
text-align: center;
transition: .2s ease-out;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
cursor: pointer;
white-space: nowrap;
box-shadow: 0px 2px 6px
rgba(0,0,0,0.12), 0px 1px 2px
    rgba(0,0,0,0.24);
    font-family: '微软雅黑';
    border-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
}
.samerow{
    display: inline-block;
}

.tin a:link, .tin a:visited{
    color: 
    #fff;
    text-decoration: none;
}
a:link, a:visited{
    background:
transparent;
    background-color: 
transparent;
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-attachment: scroll;
background-image: none;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
}